@use '../utils/functions.module.scss' as *;

html {
  // this helps with accessibility. user is able to adjust fontsize in their browser
  font-size: 100%;
  height: 100%;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: var(--text-1);
  transition: color 150ms ease;
  &:hover {
    color: var(--blue);
  }
}

body {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: var(--text-1);
  height: 100vh;
}

img {
  width: 100%;
  display: block;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}
