@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

:root {
  --oswald: 'Oswald', sans-serif;
  --lato: 'Lato', sans-serif;
}

// .oswald {
//   font-family: $oswald;
// }
// .lato {
//   font-family: $lato;
// }
