.blogTitles {
  color: #0a5a73;
  //   color: coral;
  text-decoration: none;
}

.blogLinkContainer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 100%;

  .btnContainer {
    display: flex;
    align-self: center;
    align-items: center;
  }
}

.tagsContainer {
  display: flex;
  //   width: 50%;
  //   align-items: center;
  justify-content: flex-start;
  justify-content: start;
  .listTagStyles {
    // align-items: center;
    // margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    // border: red 2px solid;
    .tagStyles {
      list-style-type: none;
      //   border: blue 2px solid;
      //   padding: 0 1%;
      margin: 0 1%;
    }
  }
}
