.blogTitles {
  color: #0a5a73;
  //   color: coral;
  text-decoration: none;
}

.blogLinkContainer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 100%;

  .btnContainer {
    display: flex;
    align-self: center;
    align-items: center;
  }
}
