.container {
  // max-width: 700;
  //   width: 100%;
  @media screen and (max-width: 400px) {
    width: 350;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .labelAndInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  .label {
    display: flex;
    margin: 1%;
  }

  .input {
    margin: 2%;
    width: 100%;
    border-radius: 5px;
    // border: 1px, solid #0a5a73;
    box-shadow: 5px 5px 5px #0a5a73;
    // box-shadow: 5px 5px 5px rgba(51, 153, 121, 0.5);
    border: none;
    padding: 2% 5%;
    margin: 5% 0;
  }

  .submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 4%;
  }

  .submitButton {
    background-color: rgb(51, 153, 121);
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(51, 153, 121, 0.5);
    border: none;
    padding: 2% 5%;
  }
}
