.section {
  display: flex;
  justify-content: center;
  max-width: 700px;
  font-family: sans-serif;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contentContainer {
    //   700px in ff
    width: 36.5vw;
    @media screen and (max-width: 430px) {
      width: 96vw;
    }
  }

  .heading {
    // color: rgb(51, 153, 121);
    // color: #ffe133;
    color: #00b5e5;
  }
  .navContainer {
    display: flex;

    width: 100%;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    list-style: none;
    text-decoration: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: #58b6bd;
    text-decoration: none;
  }
  .nav-link-text:hover {
    // color: #58b6bd;
    // text-decoration: underline;
    border-bottom: solid 4px #58b6bd;
  }

  .hrStyles {
    width: 100%;
    border: 2px solid #ffe133;
    color: black;
  }
  .site-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem 0;
    background: #00b5e5;
    // background: #58b6bd;
    // background: #0a5a73;
    // background: -webkit-linear-gradient(
    //   45deg,
    //   rgb(77, 130, 50),
    //   rgb(55, 62, 249)
    // );
    // background: -webkit-linear-gradient(
    //   45deg,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd,
    //   #0a5a73,
    //   #58b6bd
    // );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .layoutFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
