.imgContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 50%;
  width: 50%;
}

.dateAndBackButton {
  display: flex;
  justify-content: space-around;
}
