$breakpoints-up: (
  'medium': '60em',
  'large': '1305px'
);

$breakpoints-down: (
  'small': '750px',
  'medium': '1104px',
  'large': '87.4375em'
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin breakpoint-mac-air() {
  @media (width: 1440px) and (height: 900px) {
    @content;
  }
}

@mixin breakpoint-iphonexr() {
  @media (max-width: 450px) and (max-height: 900px) {
    @content;
  }
}
